.Header {
  background-color: #1877f2;
  padding: 5vh;
}

.Header__title {
  color: white;
  font-size: 1.5em;
}

.Header__title:visited {
  color: white;
}

.Header__Login {
  color: white;
  position: absolute;
  top: 8px;
  right: 16px;
  padding: 1%;
}

.Header__Login:visited {
  color: white;
}
